<a href="https://colab.research.google.com/github/prashant-bande/Projects/blob/master/Bank_Lending_Data_Binary_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the important libraries
import pandas as pd
import numpy as np

In [0]:
# Load the datasets
dataset = pd.read_excel('LendingDataBank.xlsx')

In [3]:
# Dataset shape
dataset.shape

(855969, 73)

In [4]:
# Statistical measures
dataset.describe()

                 id     member_id  ...  inq_last_12m    default_ind
count  8.559690e+05  8.559690e+05  ...  13288.000000  855969.000000
mean   3.224073e+07  3.476269e+07  ...      1.841963       0.054286
std    2.271969e+07  2.399418e+07  ...      2.975049       0.226581
min    5.473400e+04  7.069900e+04  ...     -4.000000       0.000000
25%    9.067986e+06  1.079273e+07  ...      0.000000       0.000000
50%    3.431355e+07  3.697532e+07  ...      2.000000       0.000000
75%    5.446311e+07  5.803559e+07  ...      3.000000       0.000000
max    6.861687e+07  7.351969e+07  ...     32.000000       1.000000

[8 rows x 52 columns]

In [5]:
# Check the datatypes of observations
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855969 entries, 0 to 855968
Data columns (total 73 columns):
id                             855969 non-null int64
member_id                      855969 non-null int64
loan_amnt                      855969 non-null int64
funded_amnt                    855969 non-null int64
funded_amnt_inv                855969 non-null float64
term                           855969 non-null object
int_rate                       855969 non-null float64
installment                    855969 non-null float64
grade                          855969 non-null object
sub_grade                      855969 non-null object
emp_title                      806526 non-null object
emp_length                     812908 non-null object
home_ownership                 855969 non-null object
annual_inc                     855969 non-null float64
verification_status            855969 non-null object
issue_d                        855969 non-null datetime64[ns]
pymnt_plan                     855969 non-null object
desc                           121812 non-null object
purpose                        855969 non-null object
title                          855936 non-null object
zip_code                       855969 non-null object
addr_state                     855969 non-null object
dti                            855969 non-null float64
delinq_2yrs                    855969 non-null int64
earliest_cr_line               855969 non-null datetime64[ns]
inq_last_6mths                 855969 non-null int64
mths_since_last_delinq         416157 non-null float64
mths_since_last_record         131184 non-null float64
open_acc                       855969 non-null int64
pub_rec                        855969 non-null int64
revol_bal                      855969 non-null int64
revol_util                     855523 non-null float64
total_acc                      855969 non-null int64
initial_list_status            855969 non-null object
out_prncp                      855969 non-null float64
out_prncp_inv                  855969 non-null float64
total_pymnt                    855969 non-null float64
total_pymnt_inv                855969 non-null float64
total_rec_prncp                855969 non-null float64
total_rec_int                  855969 non-null float64
total_rec_late_fee             855969 non-null float64
recoveries                     855969 non-null float64
collection_recovery_fee        855969 non-null float64
last_pymnt_d                   847107 non-null datetime64[ns]
last_pymnt_amnt                855969 non-null float64
next_pymnt_d                   602998 non-null datetime64[ns]
last_credit_pull_d             855919 non-null datetime64[ns]
collections_12_mths_ex_med     855913 non-null float64
mths_since_last_major_derog    213139 non-null float64
policy_code                    855969 non-null int64
application_type               855969 non-null object
annual_inc_joint               442 non-null float64
dti_joint                      440 non-null float64
verification_status_joint      442 non-null object
acc_now_delinq                 855969 non-null int64
tot_coll_amt                   788656 non-null float64
tot_cur_bal                    788656 non-null float64
open_acc_6m                    13288 non-null float64
open_il_6m                     13288 non-null float64
open_il_12m                    13288 non-null float64
open_il_24m                    13288 non-null float64
mths_since_rcnt_il             12934 non-null float64
total_bal_il                   13288 non-null float64
il_util                        11609 non-null float64
open_rv_12m                    13288 non-null float64
open_rv_24m                    13288 non-null float64
max_bal_bc                     13288 non-null float64
all_util                       13288 non-null float64
total_rev_hi_lim               788656 non-null float64
inq_fi                         13288 non-null float64
total_cu_tl                    13288 non-null float64
inq_last_12m                   13288 non-null float64
default_ind                    855969 non-null int64
dtypes: datetime64[ns](5), float64(39), int64(13), object(16)
memory usage: 476.7+ MB

In [6]:
# Check the missing values 
dataset.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49443
emp_length                      43061
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734157
purpose                             0
title                              33
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
                                ...
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint               855527
dti_joint                      855529
verification_status_joint      855527
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
Length: 73, dtype: int64

In [0]:
# Create the mask where missing values should not be more than 25%
mask = dataset.isnull().sum() / len(dataset) < 0.25

In [0]:
# Truncate the features where missing values are more than 25%
reduced_dataset = dataset.loc[:, mask]

In [41]:
# Check the shape of new dataframe
reduced_dataset.shape

(855969, 51)

In [43]:
# Again check the missng values counts
reduced_dataset.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                     49443
emp_length                    43061
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
pymnt_plan                        0
purpose                           0
title                            33
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                      446
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                   8862
last_pymnt_amnt                   0
last_credit_pull_d               50
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
tot_coll_amt                  67313
tot_cur_bal                   67313
total_rev_hi_lim              67313
default_ind                       0
dtype: int64

In [0]:
# Find the features where datatype is "object" 
categorical_mask = (reduced_dataset.dtypes == object)

In [45]:
# Get the list categorical features
reduced_dataset.loc[:,categorical_mask].columns

Index(['term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'purpose',
       'title', 'zip_code', 'addr_state', 'initial_list_status',
       'application_type'],
      dtype='object')

In [0]:
# Drop the categorical features
df_num = reduced_dataset.drop(['term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'purpose',
       'title', 'zip_code', 'addr_state', 'initial_list_status',
       'application_type'], axis=1)

In [47]:
# Verify the datatypes
df_num.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
int_rate                             float64
installment                          float64
annual_inc                           float64
issue_d                       datetime64[ns]
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line              datetime64[ns]
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                           float64
total_acc                              int64
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med           float64
policy_code                            int64
acc_now_delinq                         int64
tot_coll_amt                         float64
tot_cur_bal                          float64
total_rev_hi_lim                     float64
default_ind                            int64
dtype: object

In [0]:
# Drop the observation where datatype is "datetime[ns]"
df_num.drop(['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d'], axis=1, inplace=True)

In [0]:
# Drop the observation where variation is less

df_num.drop(['member_id', 'delinq_2yrs', 'inq_last_6mths', 'pub_rec', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'policy_code', 
             'acc_now_delinq', 'tot_coll_amt'], axis=1, inplace=True)

In [50]:
# Verify the datatype again
df_num.dtypes

id                    int64
loan_amnt             int64
funded_amnt           int64
funded_amnt_inv     float64
int_rate            float64
installment         float64
annual_inc          float64
dti                 float64
open_acc              int64
revol_bal             int64
revol_util          float64
total_acc             int64
out_prncp           float64
out_prncp_inv       float64
total_pymnt         float64
total_pymnt_inv     float64
total_rec_prncp     float64
total_rec_int       float64
last_pymnt_amnt     float64
tot_cur_bal         float64
total_rev_hi_lim    float64
default_ind           int64
dtype: object

In [0]:
# Replace the missing values with the mean of respective features
df_num = df_num.fillna(df_num.mean())

In [52]:
# Verify, features should not have any missing values now
df_num.isna().sum()

id                  0
loan_amnt           0
funded_amnt         0
funded_amnt_inv     0
int_rate            0
installment         0
annual_inc          0
dti                 0
open_acc            0
revol_bal           0
revol_util          0
total_acc           0
out_prncp           0
out_prncp_inv       0
total_pymnt         0
total_pymnt_inv     0
total_rec_prncp     0
total_rec_int       0
last_pymnt_amnt     0
tot_cur_bal         0
total_rev_hi_lim    0
default_ind         0
dtype: int64

In [0]:
# Import Pipeline, xgboost, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, GridSearchCV
import xgboost as xgb

In [0]:
# Create a features and labels
X = df_num.iloc[:,:-1].astype('float32')
y = df_num.iloc[:,-1].astype('float32')

In [0]:
from sklearn.preprocessing import StandardScaler

# Create the scaler and standardize the data
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [56]:
# Create a DMatrix from X and y
lending_dmatrix = xgb.DMatrix(data=X_std, label=y)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [0]:
# Create the parameter grid: gbm_param_grid
gbm_param_grid = {
    'colsample_bytree': [0.3, 0.7],
    'n_estimators': [50, 75],
    'max_depth': [2, 4]
}

In [0]:
# Instantiate the regressor: gbm
gbm = xgb.XGBClassifier()

In [0]:
# Perform grid search: grid_mse
grid_mse = GridSearchCV(estimator=gbm, n_jobs=-1, param_grid=gbm_param_grid, scoring='neg_mean_squared_error', cv=4, verbose=1)

In [60]:
# Fit grid_mse to the data
grid_mse.fit(X_std, y)

Fitting 4 folds for each of 8 candidates, totalling 32 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  32 out of  32 | elapsed: 16.4min finished

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='warn', n_jobs=-1,
             param_grid={'colsample_bytree': [0.3, 0.7], 'max_depth': [2, 4],
                         'n_estimators': [50, 60]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=1)

In [61]:
# Print the best parameters and lowest RMSE
print("Best parameters found: ", grid_mse.best_params_)
print("Lowest RMSE found: ", np.sqrt(np.abs(grid_mse.best_score_)))

Best parameters found:  {'colsample_bytree': 0.7, 'max_depth': 2, 'n_estimators': 60}
Lowest RMSE found:  0.27085938603086923

In [0]:
# Best parameters found:  {'colsample_bytree': 0.7, 'max_depth': 2, 'n_estimators': 75}
# Lowest RMSE found:  0.2572160687558253

# Lets use the PCA to find the components


Now lets try use the PCA to get the best components

In [0]:
# Import the PCA class
from sklearn.decomposition import PCA

In [0]:
# Initialize the PCA with best 10 components
pca = PCA(n_components=15)

In [0]:
# Fit and transform the PCA on X_std
pc = pca.fit_transform(X_std)

In [71]:
# Print the explained variance ratio for each components
print(pca.explained_variance_ratio_)

[0.31988609 0.2100639  0.10372606 0.06680172 0.06454953 0.04750638
 0.04334002 0.03652426 0.03136172 0.02620613 0.01386874 0.01301961
 0.00967594 0.00611972 0.00442918]

In [72]:
# Calculate the sum of explained variance ratio
print(pca.explained_variance_ratio_.cumsum())

[0.31988609 0.52994999 0.63367605 0.70047778 0.7650273  0.81253369
 0.85587371 0.89239796 0.92375968 0.94996582 0.96383456 0.97685417
 0.9865301  0.99264983 0.99707901]

In [73]:
# Create the parameter grid: gbm_param_grid
gbm_param_grid = {
    'colsample_bytree': [0.3, 0.7],
    'n_estimators': [50, 75],
    'max_depth': [2, 5]
}

# Instantiate the regressor: gbm
gbm = xgb.XGBClassifier()

# Perform grid search: grid_mse
grid_mse = GridSearchCV(estimator=gbm, n_jobs=-1, param_grid=gbm_param_grid, scoring='neg_mean_squared_error', cv=8, verbose=1)

# Fit grid_mse to the data
grid_mse.fit(pc, y)

Fitting 8 folds for each of 8 candidates, totalling 64 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed: 37.8min
[Parallel(n_jobs=-1)]: Done  64 out of  64 | elapsed: 72.5min finished

GridSearchCV(cv=8, error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='warn', n_jobs=-1,
             param_grid={'colsample_bytree': [0.3, 0.7], 'max_depth': [2, 5],
                         'n_estimators': [50, 75]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=1)

In [74]:
# Print the best parameters and lowest RMSE
print("Best parameters found: ", grid_mse.best_params_)
print("Lowest RMSE found: ", np.sqrt(np.abs(grid_mse.best_score_)))

Best parameters found:  {'colsample_bytree': 0.7, 'max_depth': 5, 'n_estimators': 75}
Lowest RMSE found:  0.07026446237212762